<div class="header">
  <div class="vector-bg">
    <div class="heading">
      <div class="top-section">
          <img  src = "assets/images/refresh.png">
          <h4 class="m-0"> The currency switch</h4>
      </div>
    </div>
    <div class="text-wrapper mt-3 align-center">
      <h1 class="bolder title">Convert $ into any currency!</h1>
      <p>Get a free currency converterhandy on your new tab page along with web search</p>
    </div>
    <div class="start-btn mt-3 align-center">
      <button>Start Now</button>
    </div>
    <div class="bottom-tnc mt-2 align-center">
      <small class="dis-block">By clicking on Start Now. You accept terms and conditions of our website.</small>
      <small class="dis-block">By clicking on Start Now. You accept terms and conditions of our website.</small>
    </div>
    <div class="laptop-bg mt-3 align-center">
        <img src="assets/images/screen.png">
     </div>
  </div> 
  <div class="bottom-text align-center">
      <small>Get The Currency Switch right away to find out how  much the dollar is worth globally. Converts to  &amp; fro between most global currencies, using  live exchange rates. Also get access to your social media platforms, from your new tab page.</small>
  </div>
</div>
<div class="caret-wrap">
    <img src="assets/images/caret.svg">
</div>