<div class="section-wrap">
  <div class="title-wrap">
      <h4 class="bolder align-center">3 reasons to get The Currency Switch on your New Tab</h4>
      <span class="line"></span>
  </div>
   <div class="gallery">
     <div class="gal-wrap">
       <img src = "assets/images/face-7.jpg">
       <div class="flex-box text">
         <h4 class="bolder">Travelling to a foreign country ?</h4>
         <small>If you have dollars that need to be converted into the local currency of the country you&apos;re visiting, you&apos;d need to know the dollar to euro conversion if you&apos;re going to parts of Europe or the dollar to yen conversion if you&apos;re traveling to Japan! Add The Currency Switch to be able to use the currency converter tool in situations like these.</small>
       </div>
     </div>
     <div class="gal-wrap">
       <div class="text">
          <h4 class="bolder">Travelling to a foreign country ?</h4>
          <small>If you have dollars that need to be converted into the local currency of the country you&apos;re visiting, you&apos;d need to know the dollar to euro conversion if you&apos;re going to parts of Europe or the dollar to yen conversion if you&apos;re traveling to Japan! Add The Currency Switch to be able to use the currency converter tool in situations like these.</small>
       </div>

       
        <div class="flex-box">
            <img src = "assets/images/face-7.jpg">
        </div>
      </div>
   </div>
</div>